name: CI pipeline

on:
  push:
    branches: ["main"]

jobs:
  test-and-build:
    runs-on: ubuntu-22.04

    steps:
      - name: serverga ulanish
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_SECRET_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@${{ vars.HOST }}

      - name: pull qilish va restart
        run: |
         ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@${{ vars.HOST }} << 'EOF'
         cd /root/project/ci-cd-test
         git pull origin main
         npm install
         pm2 restart 3
         EOF


